/* style.css */
body {
    margin: 0;
    padding: 0;
    background-color: #333; /* สีพื้นหลังสำหรับ dark mode */
    color: white; /* สีข้อความ */
    font-family: Arial, sans-serif;
}

.black-page {
    text-align: center;
    padding: 50px;
}

.top-bar {
    background-color: #666; /* สี top bar ใน dark mode */
    color: white; /* สีข้อความใน top bar */
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.top-bar-left {
    flex: 1;
    text-align: left;
}

.top-bar-right {
    flex: 1;
    text-align: right;
}

.top-bar .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px; 
}

.top-bar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-bar nav ul li {
    display: inline;
    margin-right: 20px;
}

.top-bar nav ul li a {
    color: white; /* สีข้อความลิงค์ใน dark mode */
    text-decoration: none;
}

#mycalendar {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    border: 10px solid gray;
    padding: 20px;
    background-color: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 225px;
    transform: translateY(20px);


}


#calendar-table {
    width: 100%; /* ทำให้ตารางเต็มความกว้างของ #mycalendar */
    margin: 0 auto; /* จัดตารางกลางทั้งแนวนอน */
    border-collapse: collapse;
    background-color: #444; /* สีพื้นหลังตารางใน dark mode */
    border: 2px solid gray;
}


#calendar-table th,
#calendar-table td {
    text-align: center;
    padding: 8px;
    border: 2px solid #6e6d6d;
}

#calendar-table th {
    background-color: #222; /* สีพื้นหลังหัวตารางใน dark mode */
    color: white; /* สีข้อความในหัวตารางใน dark mode */
}

#calendar-body td {
    cursor: pointer;
}

#calendar-body td:hover {
    background-color: #666; /* สีพื้นหลังเมื่อนำเมาส์มาที่เซลล์ปฏิทินใน dark mode */
}

#prev-month,
#next-month,
#theme-toggle {
    background-color: #444; /* สีพื้นหลังปุ่มใน dark mode */
    color: white; /* สีข้อความในปุ่มใน dark mode */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px; /* เพิ่มการกำหนดระยะห่างของปุ่ม */
}

#prev-month:hover,
#next-month:hover,
#theme-toggle:hover {
    background-color: #333; /* สีพื้นหลังเมื่อนำเม้าส์ไปชี้ใน dark mode */
    color: white;
}

#current-month,
#prev-month,
#next-month,
#calendar-table,
#today-date,
#current-time,
#theme-toggle {
    margin: 10px;
}

#prev-month,
#next-month {
    display: inline-block;
    margin-right: 10px;
}

